.goal-wrapper {
  @apply flex flex-wrap justify-center items-center pt-12;

  div {
    @apply flex flex-col justify-center items-center text-white bg-PrimaryBlue;

    border: 50px solid transparent;
    border-right-color: #2e2f2e;
    border-left-color: #2e2f2e;
    width: 70vw;
    height: 15vh;
  }
}

/*
    <div className="relative flex flex-col justify-center items-center text-white bg-PrimaryBlue w-425 h-60">
      <div className="absolute inset-0 flex justify-center items-center overflow-hidden">
        <div className="w-full h-full bg-PrimaryBlue transform skew-x-12">
          <div className="transform -skew-x-12">
            <p>{bannerText}</p>
            <p>{goalText}</p>
          </div>
        </div>
      </div>
    </div>
*/
