.goal-wrapper {
  @apply flex flex-wrap justify-center items-center pt-12;

  div {
    @apply flex flex-col justify-center items-center text-white bg-PrimaryBlue;

    border: 50px solid transparent;
    border-right-color: #2e2f2e;
    border-left-color: #2e2f2e;
    width: 70vw;
    height: 15vh;
  }
}
