@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(46, 47, 46);
}

.primary {
  background-color: #294d77;
}

.secondary {
  background-color: rgb(113, 129, 153);
}
